# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
# Your code goes here
import pandas as pd

In [17]:
df_0=pd.read_csv('/Users/enissetterivera/Ironhack/lab-dw-data-cleaning-and-formatting/clean_customers.csv')
df_1=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv')
df_2=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv')

In [45]:
df_1.isna().sum()

customer                     0
state                        0
gender                       5
education                    0
customer_lifetime_value_%    0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
total_claim_amount           0
policy_type                  0
vehicle_class                0
dtype: int64

In [25]:
df_1.rename(columns={'ST':'state'},inplace=True)
df_1.columns=df_1.columns.str.lower().str.replace(' ', '_')

In [26]:
df_1.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [27]:
df_1['gender']=df_1['gender'].replace({'female':'F', 'male':'M','Male':'M' })

In [30]:
df_1.rename(columns={'customer_lifetime_value':'customer_lifetime_value_%'}, inplace=True)

In [31]:
df_1['customer_lifetime_value_%']=df_1['customer_lifetime_value_%'].str.replace('%','').astype(float)

In [36]:
df_1['state']=df_1.state.str.replace('AZ','Arizona')

In [39]:
def remove_plural(e):
    if isinstance(e,str):
        if e.endswith('s'):
            return e[:-1]
    return e
df_1['education']=df_1['education'].apply(remove_plural)

In [41]:
df_1['vehicle_class']=df_1['vehicle_class'].replace({"Sports Car":"Luxury", "Luxury SUV":"Luxury" ,"Luxury Car":"Luxury"},)

In [44]:
df_1['customer_lifetime_value_%']=df_1['customer_lifetime_value_%'].fillna(df_1['customer_lifetime_value_%'].mean())

In [46]:
def clean_number_complaints(num):
    if isinstance (num,str):
        return int(num.split('/')[1])
    return num

In [47]:
df_1['number_of_open_complaints']=df_1['number_of_open_complaints'].apply(clean_number_complaints).astype(int)

df_1['number_of_open_complaints'].value_counts()

number_of_open_complaints
0    796
1    109
2     43
3     26
4     16
5      6
Name: count, dtype: int64

In [50]:
df_2.columns

Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [49]:
df_2.columns=df_2.columns.str.lower().str.replace(' ', '_')

In [60]:
df_2.rename(columns={'customer_lifetime_value':'customer_lifetime_value_%'}, inplace=True)

In [57]:
df_2['vehicle_class']=df_2['vehicle_class'].replace({"Sports Car":"Luxury", "Luxury SUV":"Luxury" ,"Luxury Car":"Luxury"},)

In [58]:
df_2['vehicle_class'].value_counts()

vehicle_class
Four-Door Car    3546
Two-Door Car     1480
SUV              1401
Luxury            643
Name: count, dtype: int64

In [61]:
pd.concat([df_0,df_1,df_2])

,customer,state,gender,education,customer_lifetime_value_%,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [3]:
# Your code goes here
df_3=pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')

In [71]:
sorted(df_3.columns)

['coverage',
 'customer',
 'customer_lifetime_value',
 'education',
 'effective_to_date',
 'employmentstatus',
 'gender',
 'income',
 'location_code',
 'marital_status',
 'month',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'policy',
 'policy_type',
 'renew_offer_type',
 'response',
 'sales_channel',
 'state',
 'total_claim_amount',
 'total_revenue',
 'unnamed:_0',
 'vehicle_class',
 'vehicle_size',
 'vehicle_type']

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [6]:
df_3['total_revenue']=df_3['months_since_policy_inception']*df_3['monthly_premium_auto']

In [8]:
df_3.pivot_table(index='unnamed:_0', values='total_revenue', columns='sales_channel')

sales_channel   Agent  Branch  Call Center      Web
unnamed:_0
0              3172.0     NaN          NaN      NaN
1                 NaN     NaN       1664.0      NaN
2                 NaN     NaN       3100.0      NaN
3                 NaN   291.0          NaN      NaN
4                 NaN  3627.0          NaN      NaN
...               ...     ...          ...      ...
10905             NaN     NaN          NaN  10120.0
10906             NaN  4420.0          NaN      NaN
10907             NaN     NaN          NaN  12663.0
10908             NaN  4266.0          NaN      NaN
10909             NaN     NaN          NaN    101.0

[10910 rows x 4 columns]

In [64]:
df_3.pivot_table(values='total_revenue', columns='sales_channel', aggfunc='sum')

sales_channel     Agent    Branch  Call Center      Web
total_revenue  18534081  13711669      9376066  7475544

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [68]:
df_3.pivot_table(index='gender', columns='education', values='customer_lifetime_value', aggfunc='mean').round(2)

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [75]:
# Your code goes here

df_3.pivot_table(index='policy_type', values='number_of_open_complaints', columns='month', aggfunc='sum')
#wide

month                     1            2
policy_type
Corporate Auto   443.434952   385.208135
Personal Auto   1727.605722  1453.684441
Special Auto      87.074049    95.226817

In [76]:
df_3.pivot_table(index=['policy_type', 'month'], values='number_of_open_complaints', aggfunc='sum')

#long

                      number_of_open_complaints
policy_type    month
Corporate Auto 1                     443.434952
               2                     385.208135
Personal Auto  1                    1727.605722
               2                    1453.684441
Special Auto   1                      87.074049
               2                      95.226817